.top-list {
    display: flex;
    justify-content: end;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 0 0 0;
    height: 20px;
    font-family: source_sans_proregular, sans-serif;
    ul {
        display: flex;
        height: 17px;
        
        a {
            text-decoration: none;
            margin-left: 25px;
            line-height: 15px;
            font-size: 12px;
            font-weight: 500;
            height: 12px;
            color: #999999;
        }
    }
}