<ul>
  <li *ngFor="let item of data; let i = index"
      (mouseover)="onMouseOver(i)"
      (mouseleave)="onMouseLeave()">
    <a href="">{{ item.title }}</a>
  </li>
</ul>

<div class="hover-container" id="hover-container">
  <div *ngIf="hoveredIndex !== null" class="nav">
    <div *ngFor="let subItem of data[hoveredIndex]?.data; let j = index">
      <div class="link-container">
        <div style="font-size: 35px">{{ subItem.subTitle }}</div>
        <div *ngFor="let subDataItem of subItem.subData; let k = index">
          <div>{{ subDataItem }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
