<div class="header-wrapper">
  <div class="logo">
    <a href="/">
      <img src="ty-web.svg" alt="" />
    </a>
  </div>
  <div class="search">
    <input
      type="text"
      tabindex="1"
      autocomplete="off"
      placeholder="Aradığınız ürün, kategori veya markayı yazınız"
    />
    <ng-icon name="heroMagnifyingGlass" class="magnify"></ng-icon>
  </div>
  <div class="account-navigation-wrapper">
    <div class="account">
        <ng-icon name="heroUser"></ng-icon>
      <p>Giriş yap</p>
    </div>
    <div class="favorite">
        <ng-icon name="heroHeart"></ng-icon>
      <p>Favorilerim</p>
    </div>
    <div class="basket">
        <ng-icon name="heroShoppingCart"></ng-icon>
      <p>Sepetim</p>
    </div>
  </div>
</div>
