<div class="footer-container">
  <div class="footer-section">
    <ul>
      <li>
        <h3>Trendyol</h3>
      </li>
      <li>
        <a href="">Biz Kimiz</a>
      </li>
      <li>
        <a href="">Kariyer</a>
      </li>
      <li>
        <a href="">İletişim</a>
      </li>
      <li>
        <a href="">Trendyol'da Satış Yap</a>
      </li>
      <li>
        <p>GÜVENLİ ALIŞVERİŞ</p>
      </li>
      <li>
        <img
          aria-label="Troy güvenli ödeme"
          src="https://cdn.dsmcdn.com/frontend/web/assets/images/troy-logo-transparent.png"
          alt="Troy"
        />
        <img
          aria-label="Mastercard güvenli ödeme"
          src="https://cdn.dsmcdn.com/web/production/footer-master-card.png"
          alt=""
        />
        <img
          aria-label="Visa güvenli ödeme"
          src="https://cdn.dsmcdn.com/web/production/footer-visa-black.png"
          alt=""
        />
        <img
          aria-label="American express"
          src="https://cdn.dsmcdn.com/web/production/footer-amex.png"
          alt=""
        />
      </li>
    </ul>
  </div>
  <div class="footer-section">
    <ul>
      <li>
        <h3>Hakkımızda</h3>
      </li>
      <li>
        <a href="">Biz Kimiz</a>
      </li>
      <li>
        <a href="">Kariyer</a>
      </li>
      <li>
        <a href="">İletişime geçin</a>
      </li>
      <li>
        <a href="">Sürdürülebilirlik</a>
      </li>
      <li>
        <p>MOBİL UYGULAMALAR</p>
      </li>
      <li class="mobile-app">
        <img
          aria-label="IOS"
          src="https://cdn.dsmcdn.com/web/production/iosV2.svg"
          alt=""
        />
        <img
          aria-label="Google Play"
          src="https://cdn.dsmcdn.com/web/production/googleV2.svg"
          alt=""
        />
        <img
          aria-label="Huawei"
          src="https://cdn.dsmcdn.com/web/production/huaweiV2.svg"
          alt=""
        />
      </li>
    </ul>
  </div>
  <div class="footer-section">
    <ul>
      <li>
        <h3>Kampanyalar</h3>
      </li>
      <li>
        <a href="">Aktif Kampanyalar</a>
      </li>
      <li>
        <a href="">Elite Üyelik</a>
      </li>
      <li>
        <a href="">Hediye Fikirleri</a>
      </li>
      <li>
        <a href="">Trendyol Fırsatları</a>
      </li>
      <li>
        <p>Sosyal Medya</p>
      </li>
      <li class="social-media">
        <a target="_blank" href="https://www.facebook.com">
          <ng-icon class="icon" name="bootstrapFacebook"></ng-icon>
        </a>
        <a target="_blank" href="https://www.instagram.com/">
          <ng-icon class="icon" name="bootstrapInstagram"></ng-icon>
        </a>
        <a target="_blank" href="https://x.com/?lang=tr">
          <ng-icon class="icon" name="bootstrapTwitterX"></ng-icon>
        </a>
        <a target="_blank" href="https://www.youtube.com/">
          <ng-icon class="icon" name="bootstrapYoutube"></ng-icon>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-section">
    <ul>
      <li>
        <h3>Yardım</h3>
      </li>
      <li>
        <a href="">Sıkça Sorulan Sorular</a>
      </li>
      <li>
        <a href="">Canlı Yardım</a>
      </li>
      <li>
        <a href="">Nasıl İade Edebilirim</a>
      </li>
      <li>
        <a href="">İşlem Rehberi</a>
      </li>
      <li>
        <p>Sosyal Medya</p>
      </li>
      <button>Ülke Değiştir</button>
    </ul>
  </div>
</div>
