<div class="wrapper">
    <div class="container">
        <h4>Trendyol</h4>
        <ul>
            <li>
                <a href="">Biz Kimiz</a>
            </li>
            <li>
                <a href="">Kariyer</a>
            </li>
            <li>
                <a href="">İletişim</a>
            </li>
            <li>
                <a href="">Trendyol'da Satış Yap</a>
            </li>
                <img src="../../../../public/Ekran görüntüsü 2024-07-16 165527.png" alt="">

        </ul>
    </div>
</div>